[submodule "RTIAW/3rd Party/git/glm"]
	path = RTIAW/3rd Party/git/glm
	url = https://github.com/g-truc/glm.git
[submodule "RTIAW/3rd Party/git/CTPL"]
	path = RTIAW/3rd Party/git/CTPL
	url = https://github.com/vit-vit/CTPL.git
